.menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: gray;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.d-none {
  display: none !important;
}
