@import "../../../../shared/styles/variables";

aside {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: grey;

  &::after {
    content: " ";
    width: 2rem;
    background-color: $primary;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.item-link {

}
