<mat-form-field [appearance]="appearance" class="full-width" [ngClass]="{'is-invalid': !!errorMessage}">
  <mat-label>{{ label }}</mat-label>
  <input
    *ngIf="type !== 'textarea'"
    matInput
    [type]="type"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [readonly]="!!isReadOnly"
    style="z-index: 2"
    [(ngModel)]="value"
    (ngModelChange)="onChangeCallback($event)"
    (blur)="onTouchedCallback($event)"
  />
  <textarea
    matInput
    *ngIf="type === 'textarea'"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [readonly]="!!isReadOnly"
    style="z-index: 2"
    [(ngModel)]="value"
    (ngModelChange)="onChangeCallback($event)"
    (blur)="onTouchedCallback($event)"
  ></textarea>
</mat-form-field>
<mat-error class="error">{{ errorMessage }}</mat-error>
