<section class="container">
  <mat-card class="title-card">
    <h2 class="title">Produtos</h2>
    <button mat-flat-button (click)="handleNewProduct()" class="btn-n-product">Novo Produto</button>
  </mat-card>

  <mat-card class="margin-y">
    <table mat-table [dataSource]="products" class="table">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Descrição</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Preço</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="txt-right">Ações</th>
        <td mat-cell *matCellDef="let element" class="txt-right">
          <a routerLink="/products/{{ element.id }}/update" class="edit">
            <i class="material-icons"> edit </i>
          </a>

          <a class="delete" (click)="openDialog(element.name, element.id)">
            <i class="material-icons"> delete </i>
          </a>
        </td>
      </ng-container>

      <ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-container *ngIf="!isLoading">
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </ng-container>
      </ng-container>
    </table>

    <div class="spinner" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>

    <div class="no-product" *ngIf="!isLoading && products.length === 0">
      <span>Nenhum produto encontrado!</span>
    </div>

    <mat-paginator
      [length]="products.length >= 8 ? 1000 : products.length"
      [pageSizeOptions]="[8, 10, 25, 100]"
      (page)="handlePageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </mat-card>
</section>
