@import '../../../../shared/styles/variables.scss';

.container {
  background-color: $light_grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  app-menu {
    transform: translateX(-30rem);
    transition: transform 0.3s ease-in-out;
  }
}

.d-flex{
  transform: translateX(0) !important;
}

.content {
  display: grid;
  height: calc(100% - 11.2rem);
  grid-template-columns: 0 1fr;
  transition: all 200ms ease-in-out;

  @media (min-width: 768px){
    grid-template-columns: 0 2fr;
  }

  @media (min-width: 1024px){
    grid-template-columns: 0 2fr;
  }
}

.toggleCollumn {
  grid-template-columns: 1fr;
  transition: all 200ms ease-in-out;

  @media (min-width: 768px){
    grid-template-columns: 30rem 2fr;
  }

  @media (min-width: 1024px){
    grid-template-columns: 30rem 2fr;
  }
}

main {
  margin: 1.5rem 0 0 1.5rem;
}

