.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  display: grid;
  height: calc(100% - 11.2rem);
  grid-template-columns: 1fr;

  // @media (min-width: 768px){
  //   grid-template-columns: 1fr;
  // }

  // @media (min-width: 1024px){
  //   grid-template-columns: 1fr 2fr;
  // }

  // @media (min-width: 1200px){

  // }
}
