@import '../../../../../shared/styles/variables.scss';

h2 {
  color: $primary;
  margin: 1.2rem 0;
}

hr {
  border: 1px solid $primary;
}

.form {
  margin: 2.4rem 0;
}

.btn-back {
  color: $primary;
}

.btn-create {
  color: #fff;
  background-color: $primary;
}

section {
  display: flex;
  justify-content: flex-end;

  button {
    width: 10rem;
  }
}

.d-flex-center{
  display: flex;
  justify-content: center;
  margin: 2.4rem 0;
}
