<mat-card>
  <h2>Criar produto</h2>
  <hr />
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

    <app-form-field
      appearance="outline"
      label="Nome"
      formControlName="name"
      [control]="form.controls['name']"
    ></app-form-field>

    <app-form-field
      appearance="outline"
      label="Descrição"
      formControlName="description"
      [control]="form.get('description')"
      type="textarea"
    ></app-form-field>

    <app-form-field
      appearance="outline"
      label="Preço"
      type="number"
      formControlName="price"
      [control]="form.controls['price']"
    ></app-form-field>
    <section>
      <button type="button" mat-flat-button class="btn-back" (click)="handleBackPage()">Voltar</button>
      <button type="submit" mat-flat-button [disabled]="form.invalid" class="btn-create">Criar</button>
    </section>
  </form>
</mat-card>
