@import '../../../../../shared/styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
}

.title-card {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.title {
  color: $primary;
  margin: 0;
}

.btn-n-product {
  background-color: $primary;
  color: #fff;
}

.margin-y {
  margin: 1.5rem 0;
}

.table {
  width: 100%;

  th {
    color: $primary;
  }
}

.txt-right {
  text-align: right;
  cursor: pointer;

  .edit {
    color: $primary;
  }
  .delete {
    color: red;
  }
}

.spinner {
  display: flex;
  justify-content: center;
}

.no-product {
  display: flex;
  height: 5rem;
  align-items: center;
}
